extends layout

block content
  div.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.bg
    main.inner.cover.text-center
      p.lead Your bracket submission was successful.
      p.lead
        a.btn.btn-secondary(href="/bracket") Make another