extends layout

block content
  div.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.bg
    main.inner.cover.text-center
      p.lead Instructions
      p Starting with the central division of the western conference, you'll be asked to choose a winner for each match up. You'll also choose the number of games you think it'll be won in (4, 5, 6, or 7). For the finals, you'll choose the number of goals as well.
      p Good luck!
      p.lead
        a.btn.btn-lg.btn-secondary(href="/bracket") Begin
