extends layout

block content
  div.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.bg
    main.inner.cover.text-center
      h1.cover-heading Create a bracket.
      p.lead Our app makes Stanley Cup bracket creation simple by guiding you every step of the way.
      p.lead
        a.btn.btn-lg.btn-secondary(href="/instructions") Get Started
