extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.justify-content-between
    a.navbar-brand(style='color: #fff') NHL Playoffs 2018
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbar
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/') Brackets
        li.nav-item
          a.nav-link(href='/standings') Standings
  div.container-fluid(style="padding-top:60px;" ng-controller='ListController')
    div.row
      div.col-3(ng-repeat='entry in predictions track by $index' style="min-width:400px;")
        div.card(style="min-width:350px;")
          div.card-body(style='padding-bottom:10px; padding-left:10px; padding-right:10px;')
            p.lead(style='display:inline;') {{brackets[$index].name}}
            p(style='display:inline; margin:auto; float:right;') Points: {{brackets[$index].points}}
          svg(id="radial-bracket-{{$index}}" style="display:block; margin:auto;")
          div.card-body(style='padding-left:10px; padding-right:10px;')
            i.material-icons(class="tip" title="{{brackets[$index].paid ? '' : 'Hasnt paid Chris yet'}}" style="{{brackets[$index].paid ? 'color:green;' : 'color:red;'}}") attach_money
            p(style='display:inline; margin:auto; float:right;') Stanley cup goals: {{entry[14].num_goals}}
  script.
    var teams = !{JSON.stringify(teams)};
    var brackets = !{JSON.stringify(brackets)};
    var games = !{JSON.stringify(games)};
    var predictions = !{JSON.stringify(predictions)};