extends layout

block content
  div.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.bg
    main.inner.cover
      p.lead Rules
      ol(style="text-align: left;")
        li(style="padding-bottom: 5px;") For each series, select the team you think will advance to the next round and the number of games.
        li(style="padding-bottom: 5px;") For the Stanley Cup Finals, also include the combined total number of goals scored by each team.
        li Submit your form with your name and email address.
      p Good luck!
      p.lead
        a.btn.btn-lg.btn-secondary(href="/bracket") Begin
