extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.justify-content-between
    a.navbar-brand(style='color: #fff') NHL Playoffs 2018
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbar
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Brackets
        li.nav-item
          a.nav-link(href='/standings') Standings
  div.container(style="padding-top:60px; max-width: 800px;" ng-controller='SeriesController')
    div.row.justify-content-center
      h3.text-center Series

    div.row(style='margin:auto;' ng-repeat="member in series track by $index")
      div.col
        div.card(style="padding: 0px;" )
          div.card-header.bmd-list-group-col.text-center(ng-click='toggle("#series" + $index);' style='cursor: pointer; color: white;' class="{{member.team1_id && member.team2_id && !member.enabled ? 'bg-success' : ''}}{{member.team1_id && member.team2_id && member.enabled ? 'bg-info' : ''}}{{!member.team1_id || !member.team2_id ? 'bg-secondary' : ''}}")
            h5 {{member.name}}
            h6(ng-if="member.team1_id && member.team2_id") {{member.team1_id}} v. {{member.team2_id}}: {{!member.enabled ? 'Finished' : 'Ongoing'}}
            p(ng-if="member.team1_id && member.team2_id") Series: {{calculateScore(member)}} {{!member.enabled ? member.winner : ''}}
            i.text-center.material-icons {{member.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          div.collapse(id="series{{$index}}")
            table.table
              thead
                tr
                  th(style="max-width:77px;") Game #
                  th Matchup
                  th(ng-if="member.goal_array") Goals
              tbody
                - var i = 1;
                while i < 8
                  tr(ng-if="!member.team1_id || !member.team2_id || member.enabled || member['game" + i + "']")
                    td= i
                    td(ng-if="member.goal_array !== null")
                      div.form-group(style='max-width:60px; margin-top:-6px;')
                        label.bmd-label-floating(for="numGoals{{$index}}") # Goals
                        input.form-control(id="numGoals{{$index}}" ng-model="member.goal_array[" + i + "-1]" ng-change="recalculateStanleyCup()" ng-disabled="!member.enabled || !member['game" + i + "_enabled']")
                    td
                      - var model = "member['game" + (i) + "']";
                      //i.material-icons(style="padding-right: 5px; margin-left: -29px; cursor: pointer;" ng-if="member.enabled && member.lastInput == " + i ng-click="updateDB(member.id, " + i + ", null)") replay
                      p(style="display:inline; padding-right: 5px; margin-left: -29px; cursor: pointer;" ng-if="member.lastInput == " + i ng-click="updateDB(member.id, " + i + ", null)") edit
                      div.btn-group.selection-buttons(rel="tooltip" style="box-shadow: none; background-color: transparent;" data-title="Please input # goals first." id="{{$index}}_" + i)
                        button.btn.btn-lg.btn-secondary.btn-outline(type="button" ng-style="{'background-color': " + model + "== member.team1_id || (member['game" + i + "_enabled'] && member.enabled) ? member.team1_color : ''}" ng-disabled="!member.enabled || !member['game" + i + "_enabled'] || (member.goal_array && !member.goal_array[" + (i-1) + "])" ng-class="{active: " + model + "== member.team1_id, bg_color: member.team1_id && " + model + "== member.team1_id || (member['game" + i + "_enabled'] && member.enabled)}" ng-click="updateDB(member.id, " + i + ", member.team1_id)") {{member.team1_id ? member.team1_id : 'TBD'}}
                        button.btn.btn-lg.btn-secondary.btn-outline(type="button" ng-style="{'background-color': " + model + "== member.team2_id || (member['game" + i + "_enabled'] && member.enabled) ? member.team2_color : ''}" ng-disabled="!member.enabled || !member['game" + i + "_enabled'] || (member.goal_array && !member.goal_array[" + (i-1) + "])" ng-class="{active: " + model + "== member.team2_id, bg_color: member.team2_id && " + model + "== member.team2_id || (member['game" + i + "_enabled'] && member.enabled)}" ng-click="updateDB(member.id, " + i + ", member.team2_id)") {{member.team2_id ? member.team2_id : 'TBD'}}
                      - i++;
            p.lead.text-center(ng-if="member.goal_array") Total Goals: {{member.num_goals}}
    div.modal.fade#winnerModal(tabindex="-1")
      div.modal-dialog.modal-sm.modal-dialog-centered
        div.modal-content
          div.modal-header
            h5.modal-title Winner!
          div.modal-body
            p#winningText -
          div.modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal" ng-click="ignoreLast()") Cancel
            button.btn.btn-primary(type="button" data-dismiss="modal" ng-click="closeOut()") Confirm
    div.modal.fade#resetModal(tabindex="-1")
      div.modal-dialog.modal-sm.modal-dialog-centered
        div.modal-content
          div.modal-header
            h5.modal-title Confirm Change
          div.modal-body
            p Are you sure you want to edit this series? It's already finished so changes here will reset any future series with this team.
          div.modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-primary(type="button" data-dismiss="modal" ng-click="callUpdate()") Confirm
  script.
      const SERIES = !{JSON.stringify(series)};
      const BRACKETS = !{JSON.stringify(brackets)};
      const TEAMS = !{JSON.stringify(teams)};