extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.justify-content-between
    a.navbar-brand(style='color: #fff') NHL Playoffs 2018
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbar
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Brackets
        li.nav-item.active
          a.nav-link(href='/standings') Standings
  div.container(style="padding-top:60px;" ng-controller='StandingsController')
    div.row.justify-content-center
      h3.text-center Standings
      p.lead(style="padding:10px;" ng-if="width < 370") Your browser width might be too small to see maximum points. Check this page on a larger screen.
      table.table
        thead
          tr
            th(style="max-width:55px;") Place
            th(style="max-width:50px;") Bracket
            th(style="max-width:110px;text-align:right;") Current Points
            th(style="max-width:70px;text-align:right;") Potential Points
            th(style="max-width:70px;text-align:right;") Max Points
        tbody
          tr(ng-repeat='bracket in brackets track by $index' style='height:60px;')
            td {{$index + 1}}
            td(style='max-width:110px;')
              p(rel="tooltip" title="This bracket is in {{bracket.place}} place" style="display:inline; padding-right:5px; margin-left: -25px;" ng-if="$index < 3") {{$index === 0 ? '🥇' : ''}}{{$index === 1 ? '🥈' : ''}}{{$index === 2 ? '🥉' : ''}}
              p(rel="tooltip" title="This bracket's max points is less than top 3 current points :(" style="padding-right:5px;margin-left: -25px; display:inline;" ng-if="(bracket.potentialPoints + bracket.points) < brackets[2].points") 😢
              ="{{bracket.name}}"
            td(align='right') {{bracket.points}}
            td(align='right') {{bracket.potentialPoints}}
            td(align='right') {{bracket.potentialPoints + bracket.points}}

  script.
    const BRACKETS = !{JSON.stringify(brackets)};
    const STANDINGS = !{JSON.stringify(standings)};