body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #333;
  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  text-align: center;
}

form {
  display: inline-block;
  max-width: 900px;
  width: 100%;
}

.cover-container {
  max-width: 42em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-body {
  padding: 0;
}

a {
  color: #00B7FF;
}

.round-one .card {
  margin-bottom: 40px;
}

.round-two .card * {
  display: inherit;
}

.round-two .card {
  margin-top: 75px;
  margin-bottom: 110px;
  display: inline-block;
  width: 100%;
}

.round-three .card * {
  display: inherit;
}

.round-three .card {
  margin-top: 180px;
  margin-bottom: 240px;
  display: inline-block;
  width: 100%;
}

.round-four .card * {
  display: inherit;
}

.round-four .card {
  margin-top: 420px;
  margin-bottom: 440px;
  display: inline-block;
  width: 100%;
}

.finals .card * {
  display: inherit;
}

.finals .card {
  margin-top: 860px;
  display: inline-block;
  width: 100%;
}

.submitButton {
  display: block;
  width: 25%;
}


/* Landing page */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

pre {
  color: white;
}

.bg-secondary img {
  width: 40%;
}

button {
  z-index: 9999;
}